@model Billycock.DTO.UsuarioDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idUsuario" />
            <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idEstado" class="control-label"></label>
                <input asp-for="idEstado" class="form-control" />
                <span asp-validation-for="idEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="facturacion" class="control-label"></label>
                <input asp-for="facturacion" class="form-control" />
                <span asp-validation-for="facturacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pago" class="control-label"></label>
                <input asp-for="pago" class="form-control" />
                <span asp-validation-for="pago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
